<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>%%DOCUMENT_TITLE%%</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="page-container">
      <header class="navigation">
        <nav>
          <div class="nav-headline"><p>Node.js</p></div>
          <div class="nav-subject-headline"><p>Subjects</p></div>
          <div class="nav-subject-container">
            <ul>
              <li class="nav-subject %%JAVASCRIPTMASTERY_ACTIVE%%"><a href="/">Javascript Mastery</a></li>
              <li class="nav-subject %%TERMINALCOMMANDS_ACTIVE%%"><a href="/terminalCommands">Terminal Commands</a></li>
              <li class="nav-subject %%NODEJS_ACTIVE%%"><a href="/nodeJs">Node.js</a></li>
              <li class="nav-subject %%RESTAPI_ACTIVE%%"><a href="/restApi">Rest API</a></li>
              <li class="nav-subject %%SSR_ACTIVE%%"><a href="/Ssr">SSR</a></li>
            </ul>
          </div>
        </nav>
      </header>